<div class="event-container">
 <!-- Message when no events are saved -->
<div *ngIf="savedEvents.length === 0" class="no-saved-events-container">
  <p class="no-saved-events-message">No Events Saved</p>
</div>
  <!-- Display saved events if available -->
<div *ngIf="savedEvents.length > 0">
<div *ngFor="let event of savedEvents" class="event-card">
  <h3>{{ event.title }}</h3>
  <p>{{ event.host }}</p>
  <p class="event-datetime">
   {{ event.date }} &#64; {{ event.time }}
  </p>
  <p>{{ event.price ? ('$' + event.price) : 'Free' }}</p>
  <img [src]="event.img" [alt]="event.title" class="event-image">
  <p>
    <a [href]="event.link" target="_blank" rel="noopener noreferrer">
      View Event
    </a>
  </p>
  <button (click)="deleteEvent(event.id)" class="delete-btn">Delete</button>
  </div>
</div>
 <!-- Back to Events Button -->
  <div class="button-group back-button-group">
    <button (click)="goToEvents()">Back to Events</button>
  </div>

</div>

